[Unit]
Description=UPSPlus Python Daemon Service
Wants=network.target
After=network.target
 
[Service]
Type=simple
User=root
WorkingDirectory=/opt/upsplus
ExecStart=/usr/bin/python3 -u /opt/upsplus/upsplus_daemon.py
Restart=on-failure
RestartSec=30
 
[Install]
WantedBy=multi-user.target

